<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
    {{>navbar}}



    <div class="container-fluid main_header">
      <div class="row">
           <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure>
                <img src="images/3819740.jpg"  class="img-fluid" title="harishsuthar">
                <a href="/"><button>go back</button></a>
            </figure>
              
           </div>

      </div>
      
    </div>


    <footer>
      <p>created with ❤️ by Harish Suthar</p>
    </footer>

</body>
</html>