<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
<body>
    {{>navbar}}



    <div class="container-fluid main_header">
      <div class="row">
           <div class="col-md-12 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>Get The Latest <span>Weather</span> Info Of Your City</h1>
            <a href="/weather"><button>check now</button></a>
           </div>

      </div>
      
    </div>


    <footer>
      <p>created with ❤️ by Harish Suthar</p>
    </footer>

</body>
</html>